body {
    font-family: Arial, sans-serif;
    background-color: #062038 !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.character-sheet {
    background-color: #7095B8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    max-height: 90vh;
    overflow-y: auto; /* Habilita rolagem interna */
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.info, .attribute, .save, .skill {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"], textarea {
    width: 60%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

.general-info {
    margin-bottom: 20px;
}

.general-info h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.general-info textarea {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}


.save-button {
    width: 100%;
    padding: 10px;
    background-color: #1F7D57;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #003E25;
}

.character-sheet {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

footer .save-button, .restore-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.custom-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px; /* Aumenta o padding para uma faixa preta mais larga */
    width: 100%; /* Garante que abranja toda a largura */
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    position: relative; /* Muda para relative para posicioná-lo no fluxo do documento */
    display: flex; /* Usa Flexbox para centralizar o conteúdo */
    justify-content: center;
    align-items: center;
    margin-top: auto; /* Empurra o footer para o final do conteúdo */
}

.author {
    font-weight: bold;
    margin: 0 5px; /* Ajusta o espaço entre os nomes dos autores */
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #676d71;
}

.nav-bar {
    width: 100%;
    background-color: #0A1A2A; /* Cor de fundo para a barra de navegação */
    padding: 2dvh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra para separar a barra do conteúdo */
}

.menu-icon {
    margin-right: 1.5dvw;
    cursor: pointer;
    color: white;
    float: right; /* Alinha o ícone do menu à direita */
}

.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #0A1A2A; /* Cor sólida do menu */
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 3; /* Garante que o menu fique acima do conteúdo */
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #676d71; /* Cor ao passar o mouse */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 5dvh;
    cursor: pointer;
}

.main-content {
    padding: 20px; /* Para evitar que o conteúdo toque nas bordas */
    transition: background-color 0.3s;
}

.custom-footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 0.9em;
    font-family: Arial, sans-serif;
    position: relative;
    margin-top: auto; /* Empurra o footer para o final */
}

.author {
    font-weight: bold;
    margin: 0 5px; /* Espaço entre os nomes dos autores */
}

.line{
    width: 90%;
    border: none;
    border-top: 0.5px solid #676d71; 
}

/* Permitir rolagem horizontal para telas menores */
@media (max-width: 768px) {
    /* Ajustes para rolagem horizontal apenas na ficha */
    .character-sheet {
        width: 90dvw;
    }
    
}
