/* session pra ver a tela de fundo */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.session {
    width: 100%;
    height: 20vh; /* ou outra altura desejada */
    background-image: url('../../images/dragon.jpeg'); /* Caminho para sua imagem */
    background-size: cover;
    background-position: center; /* Mantém a imagem centralizada */
    background-attachment: fixed; /* Mantém a imagem de fundo fixa */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Cor do texto */
    text-align: center;
    font-size: 24px;
}

/* Logo no menu */
.logo img {
    height: 50px; /* Altura da imagem da logo */
    width: auto; /* Largura ajustável conforme a altura */
    margin-right: 20px; /* Espaçamento à direita da logo */
}

/* ajuste de tags */
#raca-classe{
    font-size: 1cap;
}

#dados-rpg, #ficha, .imgSize{
    width: 25%;
    height: 25%;
}
.center{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5dvh;
}

.big-letter{
    list-style-type: none;
}
/* Estilos globais */
.figText{
    font-size: 1cap;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco para contraste */
}

.content {
    padding: 20px;
}

/* Botão Circular */
.circular-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 2000; /* Aumentar o z-index */
    transition: background-color 0.3s;
}

.circular-button1 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #007bff; /* Azul */
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 2000; /* Aumentar o z-index */
    transition: background-color 0.3s;
}

.circular-button:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

/* Modal */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3000; /* Ajustar z-index para garantir que está acima do menu */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #333; /* Fundo mais escuro para o main */
    padding: 20px;
    border-radius: 10px;
    width: 90vw; /* Ajustar largura conforme necessário */
    max-width: 400px; /* Limitar a largura máxima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    color: #fff;
    z-index: 4000; /* Garantir que o conteúdo do modal fique acima do fundo */
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    z-index: 5000; /* Garantir que o botão de fechar fique acima de tudo */
}

/* Estilos específicos da calculadora */
.calculator .display {
    font-size: 2em;
    padding: 10px;
    margin-bottom: 20px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #555; /* Fundo do display */
    color: #fff; /* Texto branco no display */
    overflow: hidden; /* Evitar rolagem dentro do display */
    user-select: none; /* Evita seleção de texto acidental */
    outline: none; /* Remove a borda de foco em navegadores */
    min-height: 50px; /* Define uma altura mínima para o display */
    line-height: 50px; /* Alinha o texto verticalmente */
}

.calculator #display {
    width: 95%;
    font-size: 2em;
    padding: 10px;
    margin-bottom: 20px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    background-color: #555; /* Fundo do display */
    color: #fff; /* Texto branco no display */
}

.calculator .display::placeholder {
    color: #ccc; /* Cor do placeholder do input */
}

.calculator table {
    width: 100%;
    border-spacing: 10px;
}

.calculator button {
    width: 100%;
    padding: 20px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    transition: background-color 0.3s, transform 0.1s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator button:hover {
    background-color: #e0e0e0;
}

.calculator button:active {
    transform: scale(0.98);
}

.calculator .btn-clear, .calculator .btn-del {
    background-color: #ff6666;
    color: white;
}

.calculator .btn-clear:hover, .calculator .btn-del:hover {
    background-color: #ff4d4d;
}

.calculator .btn-eq {
    background-color: #007bff; /* Azul */
    color: white;
    font-weight: bold;
}

.calculator .btn-eq:hover {
    background-color: #0056b3; /* Azul mais escuro */
}

.calculator .fas.fa-dice-d20 {
    font-size: 1.5em;
    color: white;
}

.calculator .btn-hist, .calculator .btn-clear-hist {
    background-color: #1F7D57;
    color: white;
    font-weight: bold;
}

.calculator .btn-hist:hover, .calculator .btn-clear-hist:hover {
    background-color: #003E25;
}

.calculator .historic {
    max-height: 150px; /* Defina a altura máxima que deseja para o histórico */
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444; /* Fundo do histórico */
    color: #fff; /* Texto branco no histórico */
}

.historic {
    display: none; /* Ocultar o histórico por padrão */
    max-height: 150px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #444; /* Fundo do histórico */
    color: #fff; /* Texto branco no histórico */
}

.historic.active {
    display: block; /* Mostrar o histórico quando ativo */
}

.calculator .historic p {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    color: #00bfff; /* Azul claro para os textos do histórico */
}

.calculator .historic p:hover {
    background-color: #666;
}

.calculator .result {
    color: #00bfff; /* Azul claro para o texto do resultado */
}

.calculator .h2-dicenator {
    margin-top: 1dvh;
    margin-bottom: 5px; /* Diminui o espaçamento abaixo dos títulos */
    color: #00bfff; /* Azul claro para os títulos */
}

#historic-item {
    margin: 0;
}

#historic-line {
    margin: 0;
}

.btn-num{
    color:white;
}
/* Layout dos botões */
.calculator .buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn-full{
    height: 5dvh;
}

.calculator .buttons .btn {
    flex: 1 1 calc(25% - 10px); /* Quatro botões por linha */
}

.calculator .buttons .btn-full {
    flex: 1 1 100%; /* Botão de largura total */
}

/* Classe para reduzir o tamanho dos botões da calculadora */
.reduced-button {
    padding: 10px !important;
    font-size: 0.9em !important;
}
/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    /* Reduz o tamanho da fonte do display e dos botões */
    .calculator .display {
        font-size: 1.5em;
        padding: 8px; 
    }

    .calculator button {
        padding: 15px; 
        font-size: 1.2em;
    }

    /* Ajusta a largura dos botões para um layout de calculadora */
    .calculator .buttons .btn {
        flex: 1 1 calc(25% - 10px); /* Quatro botões por linha */
    }

    .calculator .buttons .btn-full {
        flex: 1 1 100%; /* Botão de largura total */
    }

    /* Reduz o tamanho da modal para caber melhor na tela */
    .modal-content {
        width: 90%; 
        height: auto;
        max-height: 80vh; 
        overflow-y: auto; 
    }

    /* Certifica-se de que o botão de fechar seja visível */
    .modal .close {
        font-size: 1.5em; 
        position: absolute; 
        top: 10px; 
        right: 10px; 
        z-index: 1000; 
    }

    /* Ajuste adicional para o histórico e outros elementos */
    .calculator .historic {
        max-height: 100px;
    }
}

/* Estilos para altura de janela menor que 770px */
@media (max-height: 770px) {
    .modal-content {
        height: 90vh; /* Ajusta a altura da modal para ocupar 90% da altura da viewport */
        max-height: 90vh; /* Limita a altura máxima */
        overflow-y: auto; /* Permite rolagem se o conteúdo for maior que a altura */
    }

    .modal .close {
        font-size: 1.5em; /* Tamanho do botão de fechar */
        position: absolute; /* Absoluto para reposicionar conforme necessário */
        top: 10px; /* Espaçamento do topo para garantir visibilidade */
        right: 10px; /* Espaçamento da direita */
        z-index: 1000; /* Certifica-se de que está acima de outros elementos */
    }

    /* Ajusta a calculadora para caber melhor */
    .calculator .display {
        font-size: 1.5em; /* Diminui o tamanho do texto do display */
        padding: 8px; /* Menor espaçamento interno */
    }

    .calculator button {
        padding: 15px; /* Ajusta o tamanho dos botões */
        font-size: 1.2em; /* Diminui o tamanho da fonte dos botões */
    }

    /* Garantir que todos os botões fiquem visíveis */
    .calculator .buttons .btn {
        flex: 1 1 calc(25% - 10px); /* Quatro botões por linha */
    }

    .calculator .historic {
        max-height: 80px; /* Limita a altura do histórico */
    }
}

/* Login */
/* CSS adicional para centralizar o formulário e adicionar enfeites */
.login-wrapper {
    display: flex;
    justify-content: center;
}

.login-container {
    background: #0a3155;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 2rem auto; /* Para adicionar algum espaçamento vertical */
}

.login-container h3 {
    margin-bottom: 1rem;
}

.login-container form {
    margin-bottom: 1rem;
}

.login-container .actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container .actions .center {
    text-align: center;
}

.login-container .actions input[type="submit"] {
    margin: auto;
}

.login-container .forgot-password {
    margin-top: 1rem;
}

.login-container .forgot-password a {
    color: #007bff;
    text-decoration: none;
}

.login-container .forgot-password a:hover {
    text-decoration: underline;
}

.login-container .create-account {
    margin-top: 1rem;
}

.login-container .create-account a {
    color: #007bff;
    text-decoration: none;
}

.login-container .create-account a:hover {
    text-decoration: underline;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}

/* Estilos gerais para imagens */
#dados-rpg, #ficha, .imgSize {
    width: 25%;
    height: auto;
}

/* Estilos responsivos para telas menores */
@media (max-width: 768px) {
    /* Ajustar tamanho das imagens para telas menores */
    #dados-rpg, #ficha, .imgSize {
        width: 50%; 
        max-width: 200px; 
        height: auto;
    }

    /* Ajustes de layout para garantir que o conteúdo não fique sobreposto */
    .quiz-container {
        width: 90%;
        padding: 15px; 
    }

    /* Ajustes para a navegação e outros elementos */
    .menu-icon {
        margin-right: 4.5dvw;
    }

    /* Ajustes para garantir que o botão de fechar da calculadora seja acessível */
    .modal .close {
        font-size: 1.5em; 
        position: absolute; 
        top: 10px; 
        right: 10px; 
        z-index: 1000; 
    }
}

/* Estilo do span de ajuda */
.help-button {
    position: absolute;
    top: 10px;
    left: 10px; /* Lado oposto ao botão de fechar */
    padding: 5px 10px;
    color: white;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    z-index: 6002; /* Certifique-se de que esteja acima da calculadora */
}

/* Estilo do popup de ajuda */
.help-popup {
    display: none; /* Escondido por padrão */
    position: fixed;
    z-index: 6003; /* Acima da calculadora e do botão de ajuda */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7); /* Fundo semitransparente mais escuro */
}

.help-popup-content {
    background-color: #333; /* Tom de cinza escuro para o fundo do popup */
    color: white; /* Texto branco para contraste */
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
    z-index: 6004; /* Mais alto para o conteúdo estar na frente */
}

.close-help {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-help:hover,
.close-help:focus {
    color: white;
}
